@{
    Layout = null;
}

@using HST.Art.Web
@using HST.Art.Core
@using HST.Utillity

@Scripts.Render("~/bundles/saos")
@Styles.Render("~/appcss")
<script src="~/Content/lib/webuploader/0.1.5/webuploader.min.js" type="text/javascript"></script>
<style type="text/css">
    .form-horizontal .form-label {
        text-align: right;
    }
</style>

<article class="page-container">
    <div class="formControls ">
        <div class="form-group upload-wrap">
            <div id="upfile" style="float:left;" class="wrap-section">
                <div class="wrap-bg">
                    <i class="Hui-iconfont">&#xe642;</i>
                    <div style="color:#333">上传文件</div>
                </div>
            </div>
            <div class="formControls file-up">
                <ul id="filelist" class=""></ul>
                <input type="hidden" id="loc_temp_inp" />
            </div>

            <a href="~/Content/协会会员导入模板.xlsx" class="down-temp">点击下载导入模板</a>
        </div>
        <div class="upload-info">
            <h4>导入须知</h4>
            <ul>
                <li>1、请按照模板要求输入要导入的数据</li>
                <li>2、导入的数据默认为下架状态</li>
                <li>3、一次导入数据建议在500条以内，请不要重复导入相同数据</li>
                <li>4、如遇到导入失败可通过下载失败数据进行核对</li>
            </ul>
        </div>
        <div class="upload-button">
            <input name="" type="button" onclick="layer_close();" class="btn btn-default radius " value="关 闭">
        </div>

    </div>
</article>

<script type="text/javascript">
    $(function () {

    });


</script>

<script type="text/javascript">
    var maxcount = 8;
    //上传参数
    var jq_uploadFormData = { BidFileDomain: ' ', uploadQueryData: { Suffix: 0 } };
    if (!WebUploader.Uploader.support()) {
        $(".FJsp2").html("说明：当前浏览器不支持附件上传");
        $("#upfile").hide();
        //alert( 'Web Uploader 不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
        alert("当前浏览器不支持附件上传，如果你使用的是IE浏览器，请尝试升级 flash 播放器");
        throw new Error('WebUploader does not support the browser you are using.');
    }
    var BASE_URL = "/content/webuploader-0.1.5";
    var file_ids = []; //已上传文件的路径
    var file_info = []; //记录文件的GUID和存储路径
    var isfilesuping = false;
    // 文件上传
    jQuery(function () {
        var id = "upfile";
        var $ = jQuery,
    state = 'pending',
    $probar = $("#" + id).siblings("div").find(".pros"),
    uploader;
        uploader = WebUploader.create({
            // 不压缩image
            resize: false,
            //发送后台时参数
            formData: jq_uploadFormData.uploadQueryData,
            fileVal: jq_uploadFormData.BidFileDomain,
            method: "POST",
            //是否分块（大文件上传）
            chunked: true,
            //设置文件上传域名称
            fileVal: 'file',
            //每块最大限制（默认5M 因为是.net 所以设置2M）
            chunkSize: 2097152,
            // swf文件路径
            swf: BASE_URL + '/Uploader.swf',
            // 文件接收服务端。
            server: jq_uploadFormData.BidFileDomain + '@Url.Action("ImportExcel")',
            //创建选择文件按钮
            pick: { id: "#" + id, innerHTML: "", multiple: false },
            //选择文件自动上传
            auto: true,
            //accept:{title:"只能上传rar,zip文件",extensions :'rar,zip',mimeTypes:'application/x-zip-compressed'},
            fileNumLimit: maxcount
        });

        //文件大小限制,超过则不加入队列
        uploader.on('beforeFileQueued', function (file, han, msg) {
            var xzlist = ("xlsx,xls").split(",");
            var filenamelist = file.name.split('.');
            var filehz = filenamelist[filenamelist.length - 1];

            if (xzlist.indexOf(filehz) < 0) {
                layer.alert("请上传指定类型格式的文件", 0);
                return false;
            }

            if (file.size > (1024 * 1024 * 5)) {
                layer.alert("文件大小不可超过5M", 0);
                return false;
            }

            var filelen = $("#filelist>li").length;
            if (filelen >= maxcount) {
                layer.alert("超出最大上传数量", 0);
                return false;
            }
        });
        //某个文件开始上传前触发，一个文件只会触发一次。
        uploader.on('uploadStart', function (file) {
            uploader.options.formData.guid = WebUploader.Base.guid();
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            $(".help-file").hide();
            $(".yangli").hide()
            $(".yulan").show();
            uploader.makeThumb(file, function (error, ret) {
                var file_list = [];
                file_list.push("<li id='" + file.id + "'>");
                file_list.push("<em class='rar'></em>");
                file_list.push("<span class='title'><span/>");
                file_list.push("<div class='percent_small'>");
                file_list.push("<div class='per_pic2'>");
                file_list.push("<div class='change_per2' style='width:1%'></div>");
                file_list.push("</div>");
                file_list.push("<span class='showtitle'>正准备上传…</span></div>");
                file_list.push("</div></li>");
                $("#filelist").empty().append(file_list.join(''));
            });
        });
        //重置
        uploader.on('reset', function (file) {

        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var jd = parseInt(percentage * 100);
            if (jd > 1) {
                $("#" + file.id).find(".change_per2").css("width", jd + '%');
                $("#" + file.id).find(".per_pic2,.showtitle").attr("title", '已上传' + jd + '%');
                $("#" + file.id).find(".showtitle").text('已上传' + jd + '%');
            }
            if (jd >= 100) {
                $("#" + file.id).find(".per_pic2,.showtitle").attr("title", "处理中...");
            }
            isfilesuping = uploader.getStats().progressNum != 0;
        });

        uploader.on('uploadSuccess', function (file, obj) {

            isfilesuping = uploader.getStats().progressNum != 0;
            var jsonresult = obj._raw;
            jsonresult = eval('(' + jsonresult + ')');
            if (jsonresult.FileName) {
                $("#" + file.id).find(".showtitle").text("");
                $("#" + file.id).find("span.title").html(jsonresult.FileName);
                $("#filelist").removeClass("hidden");
            } else {
                $("#filelist").addClass("hidden");
            }

            if (!jsonresult.IsSuccess) {
                if (jsonresult.FilePath) {
                    top.layer.open({
                        type: 1,
                        anim: 2,
                        shadeClose: true, //开启遮罩关闭
                        content: '<div  style="padding: 20px 60px 25px;"   >' + jsonresult.Message + '</br><a style="color:#3bb4f2;display:inline-block;margin-top:5px" href="' + jsonresult.FilePath + '">点击此处下载失败数据<a/></div>'
                    });
                } else {
                    top.layer.alert(jsonresult.Message, { icon: 8 });
                }
            } else {
                layer.msg("导入成功");
            }

            if (parent[1] != null) {
                parent[pageIndex()].table1.ajax.reload();
            } else {
                parent.table1.ajax.reload();
            }

            uploader.reset();
        });

        uploader.on('uploadError', function (file, reason) {
            layer.msg(reason);
        });
        uploader.on('error', function (handler) {
            if (handler == "Q_EXCEED_NUM_LIMIT") {
                layer.alert("超出最大张数");
            }
            if (handler == "F_DUPLICATE") {
                layer.alert("该文件已在上传列表", 3);
            }

            if (handler == "Q_TYPE_DENIED") {
                layer.alert("该文件不满足上传要求，可能您上传的文件为0KB");
            }
        });
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.percent_small').fadeOut();
        });

    });

</script>