
@{
    ViewBag.Title = "温馨提示";
}

<style>

</style>
<div class="page-container">
    <div class="col-xs-12">
        <div>
            <img src="#" alt="Alternate Text" />
            <p>查看数据报错，请联系管理员</p>
        </div>
    </div>
</div>

